No obvious way to announce generic FEC

There's no obvious way to declare support for generic FEC (ulpfec).  See RFC 5109.

There are two ways to encode ulpfec: as redundant coding (RFC 2198) or as a separate track. If my reading of Section 14.2 of RFC 5109 is correct, supporting inline ulpfec requires just the following tweaks to the SDP:

  * add an `a=rtpmap:xxx ulpfec/yyy` line to the `m=` section;
  * add the payload type chosen for ulpfec to the `m=` line.

However, sending FEC in a separate track is what is needed by the unnamed SFU.  This is defined in Section 14.1 of RFC 5109, and requires the following:

  * pick a free SSRC for each FEC track;
  * ad a new `m=` line for each FEC track.

Note that selection of ulpfec should be controlled per-track, since it is usually only needed for audio rtacks.


While ulpfec would be useful for audio, neither of the major browsers
supports this kind of usage.  My understanding is that at least Firefox
plans to implement flexfec for audio, but I could be wrong.

Since FEC is not useful for video (NACK works just fine for video), please
consider this feature request as having low priority for now.

Hey @jech 

Would love to get your opinion on https://github.com/pion/webrtc-v3-design/issues/33. I know it has been slow moving, but I just want to be very careful. I would love your opinion on it.

We are going to allow users to provide 'adapters' going in and out. These adapters will have full access to the RTP packets so they can do anything they want. These adapters will also be able to modify the Session Description. My hope is that this covers.

* JitterBuffers
* FEC
* NACK
* Congestion Control 

You can use the adapters we have in-tree, or your own! Just think if we force people to use one method it will lock others out. I also don't want people doing SDP munging to enable features. That just causes so many issues.